<a href="https://colab.research.google.com/github/Alphapara97/DS/blob/main/Dutch_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini - Project - 2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Libraries Import

In [ ]:
import pandas as pd
import io
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

Initial Analysis

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving dutch.csv to dutch (3).csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['dutch.csv']))

In [ ]:
df

,sex,age,household_position,household_size,prev_residence_place,citizenship,country_birth,edu_level,economic_status,cur_eco_activity,marital_status,occupation
0,male,6,1131,112,1,1,1,5,111,135,1,1
1,female,10,1122,113,1,1,1,2,111,122,2,0
2,male,8,1122,113,1,1,1,2,111,122,2,1
3,male,12,1121,112,1,1,1,1,111,137,2,0
4,female,4,1110,114,1,1,1,2,111,138,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
60415,male,10,1122,125,1,1,1,3,111,131,2,1
60416,female,5,1110,114,1,1,1,5,111,135,1,0
60417,male,11,1121,112,1,1,1,5,111,135,2,1
60418,female,7,1131,112,1,1,1,5,111,137,1,1
60419,male,12,1121,112,1,1,1,5,111,137,2,1

In [ ]:
df.isnull().mean().sort_values(ascending =False)

sex                     0.0
age                     0.0
household_position      0.0
household_size          0.0
prev_residence_place    0.0
citizenship             0.0
country_birth           0.0
edu_level               0.0
economic_status         0.0
cur_eco_activity        0.0
marital_status          0.0
occupation              0.0
dtype: float64

In [ ]:
df.dtypes

sex                     object
age                      int64
household_position       int64
household_size           int64
prev_residence_place     int64
citizenship              int64
country_birth            int64
edu_level                int64
economic_status          int64
cur_eco_activity         int64
marital_status           int64
occupation               int64
dtype: object

In [ ]:
df.describe()

,age,household_position,household_size,prev_residence_place,citizenship,country_birth,edu_level,economic_status,cur_eco_activity,marital_status,occupation
count,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000,60420.000000
mean,8.281993,1132.555693,114.398444,1.024446,1.025604,1.118884,3.277822,111.781993,132.412099,1.801705,0.476051
std,2.346269,29.124960,4.356812,0.154429,0.191314,0.445122,1.303829,2.419913,6.130431,0.728751,0.499430
min,4.000000,1110.000000,111.000000,1.000000,1.000000,1.000000,0.000000,111.000000,111.000000,1.000000,0.000000
25%,7.000000,1121.000000,112.000000,1.000000,1.000000,1.000000,2.000000,111.000000,131.000000,1.000000,0.000000
50%,8.000000,1122.000000,113.000000,1.000000,1.000000,1.000000,3.000000,111.000000,135.000000,2.000000,0.000000
75%,10.000000,1131.000000,114.000000,1.000000,1.000000,1.000000,5.000000,111.000000,137.000000,2.000000,1.000000
max,15.000000,1220.000000,126.000000,2.000000,3.000000,3.000000,5.000000,120.000000,139.000000,4.000000,1.000000

In [ ]:
list(df.columns)

['sex',
 'age',
 'household_position',
 'household_size',
 'prev_residence_place',
 'citizenship',
 'country_birth',
 'edu_level',
 'economic_status',
 'cur_eco_activity',
 'marital_status',
 'occupation']

In [ ]:
for col in df:
    print(col ,df[col].unique())

sex ['male' 'female']
age [ 6 10  8 12  4 11 14  5  7  9 13 15]
household_position [1131 1122 1121 1110 1210 1132 1140 1220]
household_size [112 113 114 126 111 125]
prev_residence_place [1 2]
citizenship [1 2 3]
country_birth [1 2 3]
edu_level [5 2 1 3 4 0]
economic_status [111 120 112]
cur_eco_activity [135 122 137 138 131 136 134 139 133 124 111 132]
marital_status [1 2 4 3]
occupation [1 0]

Data Cleaning

In [ ]:
df['sex'] = df['sex'].replace('male',1)
df['sex'] = df['sex'].replace('female',0)

In [ ]:
df

,sex,age,household_position,household_size,prev_residence_place,citizenship,country_birth,edu_level,economic_status,cur_eco_activity,marital_status,occupation
0,1,6,1131,112,1,1,1,5,111,135,1,1
1,0,10,1122,113,1,1,1,2,111,122,2,0
2,1,8,1122,113,1,1,1,2,111,122,2,1
3,1,12,1121,112,1,1,1,1,111,137,2,0
4,0,4,1110,114,1,1,1,2,111,138,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
60415,1,10,1122,125,1,1,1,3,111,131,2,1
60416,0,5,1110,114,1,1,1,5,111,135,1,0
60417,1,11,1121,112,1,1,1,5,111,135,2,1
60418,0,7,1131,112,1,1,1,5,111,137,1,1
60419,1,12,1121,112,1,1,1,5,111,137,2,1

In [ ]:
sex = df.groupby('sex')

In [ ]:
count_male = len(sex.get_group(1))
count_female = len(sex.get_group(0))

In [ ]:
count_female

30273

In [ ]:
count_male

30147

Protected Value Analysis

In [ ]:
size = df.shape[0]
length = len(df.columns)
#10 fold classification
fold_size = size / 10
start = 0
end = int(fold_size)

FinalOutputAccuracy =[]
male_accuracy = []
female_accuracy = []

tp_overall = []
tn_overall = []
fp_overall = []
fn_overall = []

tp_male_overall = []
tn_male_overall = []
fp_male_overall = []
fn_male_overall = []

tp_female_overall = []
tn_female_overall = []
fp_female_overall = []
fn_female_overall = []
i=1
while end <= size:
  print("-----------------------TRAINING SET - %d-----------------------" %(i))
  train_df = pd.concat([df.loc[0:start],df.loc[end:]])
  print(train_df.shape)
  test_df = df.loc[start:end]
  #training dataset
  train_x = train_df.iloc[:,:length-1]
  train_y = train_df.iloc[:,length-1]
  #overall testing set
  test_x = test_df.iloc[:,:length-1]
  test_y = test_df.iloc[:,length-1]
  #male testing set
  test_df_male = test_df[test_df['sex'] == 1]
  test_x_male = test_df_male.iloc[:,:length-1]
  test_y_male = test_df_male.iloc[:,length-1]
  #female testing set
  test_df_female = test_df[test_df['sex'] == 0]
  test_x_female = test_df_female.iloc[:,:length-1]
  test_y_female = test_df_female.iloc[:,length-1]

  forest = RandomForestClassifier(random_state=21,n_estimators=9)

  #model trained
  forest.fit(train_x,train_y)

  #overall accuracy
  acc = forest.score(test_x, test_y)
  predictions = forest.predict(test_x)

  tn, fp, fn, tp = confusion_matrix(test_y, predictions).ravel()
  tp_overall.append(tp)
  tn_overall.append(tn)
  fp_overall.append(fp)
  fn_overall.append(fn)

  print("Overall acc: ",acc)
  FinalOutputAccuracy.append(acc)

  #male accuracy
  male_acc = forest.score(test_x_male, test_y_male)
  predictions_male = forest.predict(test_x_male)

  tn_m, fp_m, fn_m, tp_m = confusion_matrix(test_y_male, predictions_male).ravel()
  tp_male_overall.append(tp_m)
  tn_male_overall.append(tn_m)
  fp_male_overall.append(fp_m)
  fn_male_overall.append(fn_m)

  print("Male acc: ",male_acc)
  male_accuracy.append(male_acc)

  #female accuracy
  female_acc = forest.score(test_x_female, test_y_female)
  predictions_female = forest.predict(test_x_female)

  tn_f, fp_f, fn_f, tp_f = confusion_matrix(test_y_female, predictions_female).ravel()
  tp_female_overall.append(tp_f)
  tn_female_overall.append(tn_f)
  fp_female_overall.append(fp_f)
  fn_female_overall.append(fn_f)

  print("Female acc: ",female_acc)
  female_accuracy.append(female_acc)
  
  start = start + fold_size
  end = end + fold_size
  i= i+1

-----------------------TRAINING SET - 1-----------------------
(54379, 12)
Overall acc:  0.819956975012411
Male acc:  0.7817824377457405
Female acc:  0.8589100635239051
-----------------------TRAINING SET - 2-----------------------
(54379, 12)
Overall acc:  0.8239285123283138
Male acc:  0.7796833773087071
Female acc:  0.8684822318166722
-----------------------TRAINING SET - 3-----------------------
(54379, 12)
Overall acc:  0.829554856859176
Male acc:  0.789561170212766
Female acc:  0.8691927512355848
-----------------------TRAINING SET - 4-----------------------
(54379, 12)
Overall acc:  0.8272381267582327
Male acc:  0.7906281156530409
Female acc:  0.8635464733025708
-----------------------TRAINING SET - 5-----------------------
(54379, 12)
Overall acc:  0.823101108720834
Male acc:  0.7798994974874371
Female acc:  0.8652714192282538
-----------------------TRAINING SET - 6-----------------------
(54379, 12)
Overall acc:  0.8154889955320205
Male acc:  0.7777049180327869
Female acc:  0.8539926495155362
-----------------------TRAINING SET - 7-----------------------
(54379, 12)
Overall acc:  0.819956975012411
Male acc:  0.7835771276595744
Female acc:  0.8560131795716639
-----------------------TRAINING SET - 8-----------------------
(54379, 12)
Overall acc:  0.8280655303657124
Male acc:  0.7850594227504244
Female acc:  0.8689477081988379
-----------------------TRAINING SET - 9-----------------------
(54379, 12)
Overall acc:  0.8257488002647692
Male acc:  0.7815344603381015
Female acc:  0.871587462082912
-----------------------TRAINING SET - 10-----------------------
(54379, 12)
Overall acc:  0.8225753061900033
Male acc:  0.7883456128600134
Female acc:  0.856020942408377

analysis

In [ ]:
avg_Accuracy = sum(FinalOutputAccuracy)/len(FinalOutputAccuracy)

In [ ]:
avg_Accuracy

0.8235615187043883

In [ ]:
avg_Accuracy_male = sum(male_accuracy)/len(male_accuracy)

In [ ]:
avg_Accuracy_male

0.7837776140048592

In [ ]:
avg_Accuracy_female = sum(female_accuracy)/len(female_accuracy)

In [ ]:
avg_Accuracy_female

0.8631964880884313

Analytics without the protected variable

In [ ]:
df = df.drop('household_size', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
df = df.drop('household_position', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
size = df.shape[0]
length = len(df.columns)
#10 fold classification
fold_size = size / 10
start = 0
end = int(fold_size)

FinalOutputAccuracy_dropped =[]
male_accuracy_dropped = []
female_accuracy_dropped = []

tp_overall_dropped = []
tn_overall_dropped = []
fp_overall_dropped = []
fn_overall_dropped = []

tp_male_overall_dropped = []
tn_male_overall_dropped = []
fp_male_overall_dropped = []
fn_male_overall_dropped = []

tp_female_overall_dropped = []
tn_female_overall_dropped = []
fp_female_overall_dropped = []
fn_female_overall_dropped = []
i=1
while end <= size:
  print("-----------------------TRAINING SET DROPPED- %d-----------------------" %(i))
  train_df = pd.concat([df.loc[0:start],df.loc[end:]])
  print(train_df.shape)
  test_df = df.loc[start:end]
  #training dataset
  train_x = train_df.iloc[:,1:length-1]
  train_y = train_df.iloc[:,length-1]
  #overall testing set
  test_x = test_df.iloc[:,1:length-1]
  test_y = test_df.iloc[:,length-1]
  #male testing set
  test_df_male = test_df[test_df['sex'] == 1]
  test_x_male = test_df_male.iloc[:,1:length-1]
  test_y_male = test_df_male.iloc[:,length-1]
  #female testing set
  test_df_female = test_df[test_df['sex'] == 0]
  test_x_female = test_df_female.iloc[:,1:length-1]
  test_y_female = test_df_female.iloc[:,length-1]

  forest = RandomForestClassifier(random_state=21,n_estimators=9)

  #model trained
  forest.fit(train_x,train_y)

  #overall accuracy
  acc = forest.score(test_x, test_y)
  predictions = forest.predict(test_x)

  tn, fp, fn, tp = confusion_matrix(test_y, predictions).ravel()
  tp_overall_dropped.append(tp)
  tn_overall_dropped.append(tn)
  fp_overall_dropped.append(fp)
  fn_overall_dropped.append(fn)

  print("Overall acc: ",acc)
  FinalOutputAccuracy_dropped.append(acc)

  #male accuracy
  male_acc = forest.score(test_x_male, test_y_male)
  predictions_male = forest.predict(test_x_male)

  tn_m, fp_m, fn_m, tp_m = confusion_matrix(test_y_male, predictions_male).ravel()
  tp_male_overall_dropped.append(tp_m)
  tn_male_overall_dropped.append(tn_m)
  fp_male_overall_dropped.append(fp_m)
  fn_male_overall_dropped.append(fn_m)

  print("Male acc: ",male_acc)
  male_accuracy_dropped.append(male_acc)

  #female accuracy
  female_acc = forest.score(test_x_female, test_y_female)
  predictions_female = forest.predict(test_x_female)

  tn_f, fp_f, fn_f, tp_f = confusion_matrix(test_y_female, predictions_female).ravel()
  tp_female_overall_dropped.append(tp_f)
  tn_female_overall_dropped.append(tn_f)
  fp_female_overall_dropped.append(fp_f)
  fn_female_overall_dropped.append(fn_f)

  print("Female acc: Dropped ",female_acc)
  female_accuracy_dropped.append(female_acc)
  
  start = start + fold_size
  end = end + fold_size
  i= i+1

-----------------------TRAINING SET DROPPED- 1-----------------------
(54379, 10)
Overall acc:  0.8143306304815489
Male acc:  0.7732634338138925
Female acc:  0.8562353727850217
-----------------------TRAINING SET DROPPED- 2-----------------------
(54379, 10)
Overall acc:  0.8111864967731259
Male acc:  0.7701187335092349
Female acc:  0.852540684158087
-----------------------TRAINING SET DROPPED- 3-----------------------
(54379, 10)
Overall acc:  0.817309283468476
Male acc:  0.7789228723404256
Female acc:  0.8553542009884679
-----------------------TRAINING SET DROPPED- 4-----------------------
(54379, 10)
Overall acc:  0.8161509184180044
Male acc:  0.7776669990029911
Female acc:  0.8543177323665129
-----------------------TRAINING SET DROPPED- 5-----------------------
(54379, 10)
Overall acc:  0.817309283468476
Male acc:  0.7809045226130653
Female acc:  0.8528449967298888
-----------------------TRAINING SET DROPPED- 6-----------------------
(54379, 10)
Overall acc:  0.8149925533675327
Male acc:  0.7868852459016393
Female acc:  0.8436351486802539
-----------------------TRAINING SET DROPPED- 7-----------------------
(54379, 10)
Overall acc:  0.8176402449114678
Male acc:  0.788563829787234
Female acc:  0.8464579901153213
-----------------------TRAINING SET DROPPED- 8-----------------------
(54379, 10)
Overall acc:  0.8146615919245408
Male acc:  0.7789473684210526
Female acc:  0.8486120077469335
-----------------------TRAINING SET DROPPED- 9-----------------------
(54379, 10)
Overall acc:  0.8184676485189475
Male acc:  0.7698309492847855
Female acc:  0.8688911358274352
-----------------------TRAINING SET DROPPED- 10-----------------------
(54379, 10)
Overall acc:  0.8174445547831843
Male acc:  0.7937039517749498
Female acc:  0.8406413612565445

In [ ]:
avg_Accuracy_dropped = sum(FinalOutputAccuracy_dropped)/len(FinalOutputAccuracy_dropped)

In [ ]:
avg_Accuracy_dropped

0.8159493206115304

In [ ]:
avg_Accuracy_male_dropped = sum(male_accuracy_dropped)/len(male_accuracy_dropped)

In [ ]:
avg_Accuracy_male_dropped

0.7798807906449271

In [ ]:
avg_Accuracy_female_dropped = sum(female_accuracy_dropped)/len(female_accuracy_dropped)

In [ ]:
avg_Accuracy_female_dropped

0.8519530630654467

Analysis for Question 7-10

In [ ]:
a =sum(tp_overall)/len(tp_overall) + sum(tn_overall)/len(tn_overall)

In [ ]:
b =sum(fp_overall)/len(fp_overall) + sum(fn_overall)/len(fn_overall)

In [ ]:
d= a/(a+b)

In [ ]:
d

0.8235615350245743

In [ ]:
sum(tp_male_overall)/len(tp_male_overall) + sum(tn_male_overall)/len(tn_male_overall)

2363.1

In [ ]:
sum(fp_male_overall)/len(fp_male_overall) + sum(fn_male_overall)/len(fn_male_overall)

652.0

In [ ]:
sum(tp_female_overall)/len(tp_female_overall) + sum(tn_female_overall)/len(tn_female_overall)

2613.6

In [ ]:
sum(fp_female_overall)/len(fp_female_overall) + sum(fn_female_overall)/len(fn_female_overall)

414.2

In [ ]:
sum(tp_male_overall)/len(tp_male_overall) + sum(fp_male_overall)/len(fp_male_overall)

1947.1

In [ ]:
sum(fn_male_overall)/len(fn_male_overall) + sum(tn_male_overall)/len(tn_male_overall)

1068.0

In [ ]:
sum(tp_female_overall)/len(tp_female_overall) + sum(fp_female_overall)/len(fp_female_overall)

896.3

In [ ]:
sum(tp_male_overall)/len(tp_male_overall)

1590.7

In [ ]:
sum(tp_female_overall)/len(tp_female_overall)

736.3

Analysis for question 12-18

In [ ]:
sum(tp_overall_dropped)/len(tp_overall_dropped) + sum(tn_overall_dropped)/len(tn_overall_dropped)

4930.7

In [ ]:
sum(fp_overall_dropped)/len(fp_overall_dropped) + sum(fn_overall_dropped)/len(fn_overall_dropped)

1112.2

In [ ]:
sum(tp_male_overall_dropped)/len(tp_male_overall_dropped) + sum(tn_male_overall_dropped)/len(tn_male_overall_dropped)

2351.3

In [ ]:
sum(fp_male_overall_dropped)/len(fp_male_overall_dropped) + sum(fn_male_overall_dropped)/len(fn_male_overall_dropped)

663.8

In [ ]:
sum(tp_female_overall_dropped)/len(tp_female_overall_dropped) + sum(tn_female_overall_dropped)/len(tn_female_overall_dropped)

2579.4

In [ ]:
sum(fp_female_overall_dropped)/len(fp_female_overall_dropped) + sum(fn_female_overall_dropped)/len(fn_female_overall_dropped)

448.4

In [ ]:
sum(tp_male_overall_dropped)/len(tp_male_overall_dropped) + sum(fp_male_overall_dropped)/len(fp_male_overall_dropped)

1586.3000000000002

In [ ]:
sum(tp_female_overall_dropped)/len(tp_female_overall_dropped) + sum(fp_female_overall_dropped)/len(fp_female_overall_dropped)

1026.3

In [ ]:
sum(fn_male_overall_dropped)/len(fn_male_overall_dropped) + sum(tn_male_overall_dropped)/len(tn_male_overall_dropped)

1428.8

In [ ]:
sum(tn_female_overall_dropped)/len(tn_female_overall_dropped) + sum(fn_female_overall_dropped)/len(fn_female_overall_dropped)

2001.5

In [ ]:
sum(tp_male_overall_dropped)/len(tp_male_overall_dropped)

1404.4

In [ ]:
sum(tp_female_overall_dropped)/len(tp_female_overall_dropped)

784.2

In [ ]:
sum(male_accuracy_dropped)/len(male_accuracy_dropped)

0.7798807906449271

In [ ]:
sum(female_accuracy_dropped)/len(female_accuracy_dropped)

0.8519530630654467